<div class="container">
    <h3>About Issue Tracker</h3>
    <p>Issue tracker is a test application developed to allow users to raise issues and have them worked on. The application also includes an admin who assigns the issues to experts that in turn work on them.</p>
    <p>The relevant user is emailed every time his/her issue's status changes and any time the admin comments on the issue.</p>
    <p>While this web application has been developed with only the basic functionalities enabled, it can still be improved to - for instance - allow users to provide more specific details of their issues, such as by providing screenshots or uploading files.</p>
    <div class="padding-150"></div>
</div>
