<div class="container">
    <h1>Help</h1>
    <h4>The User</h4>
    <p>To use the app, the user has to raise an issue and provide some required details ie. the title, description, and priority.</p>
    <h5>The Title</h5>
    <p>The title is a compulsory field(ie. it is required for the issue to be successfully submitted), it can't be left blank.</p>
    <h5>Issue Description</h5>
    <p>The issue decription is also a required field.</p>
    <p>This is where the user is expected to describe the issue fully, in such a way that the assigned expert can work on the issue with proper understanding of what is required. Thus, minimum characters allowed for this field is 50.</p>
    <h5>Priority</h5>
    <p>This is where the user states the urgency and importance of the issue. Priority can be low, medium, or high.</p>
    <h4>The Admin</h4>
    <p>This is the user with special authority over the app. He can view all the issues that have been raised, assign an issue, mark an issue as resolved, mark an issue as closed, and even reopen an issue.</p>
    <p>Every time an issue is raised, the admin is emailed.</p>
    <h5>Assign Issue</h5>
    <p>This is where the admin can choose which of the available experts he can assign an issue to.</p>
    <p>The chosen expert can then begin working on the issue immediately.</p>
    <h5>Resolve Issue</h5>
    <p>After the assigned expert has finished working on the issue, the admin can mark it as resolved.</p>
    <h5>Close Issue</h5>
    <p>Once the issue has been marked as resolved and the user who raised the issue is satisfied, the admin can close the issue.</p>
    <p>The admin may also decide to close an issue if any other circumstances warrant so.</p>
    <h5>Reopen Issue</h5>
    <p>When a user raises an issue it is, by default, open in status. However, if the admin may have unintentionally changed the issue status, he/she may revert its status to 'open'.</p>
</div>
