<h3>Help</h3>
<h4>The User</h4>
<p>To use the app, the user has to raise an issue and provide some required details ie. the title, description, and priority.</p>
<h5>The Title</h5>
<p>The title is a compulsory field(ie. it is required for the issue to be successfully submitted), it can't be left blank.</p>
<h5>Issue Description</h5>
<p>The issue decription is also a required field.</p>
<p>This is where the user is expected to describe the issue fully, in such a way that the assigned expert can work on the issue with proper understanding of what is required. Thus, minimum characters allowed for this field is 50.</p>
<h5>Priority</h5>
<p>This is where the user states the urgency and importance of the issue. Priority can be low, medium, or high.</p>
