<div class="home-content">
    <h1>Welcome to Issue Tracker!</h1>

<% if !logged_in? %>
    <ul>
        <li><%= link_to 'Sign Up', signup_path, class: "submit-button", id: "signup_button"%></li>
        <li><%= link_to 'Log In', login_path, class: "submit-button", id: "login_button" %></li>
    </ul>
<% else %>
	<% if !@current_user.activated? %>
			<span class="button">
				<%= link_to 'RENEW ACTIVATION LINK', new_account_activation_path(@current_user) %>
				</span>
	<% else %>
    	<span class="button"><%= link_to "USE APP", new_issue_path  %></span>
    <% end %>
<% end %>
</div>
