<div class="home-content">
    <h1>Welcome to Issue Tracker!</h1>

<% if !logged_in? %>
    <ul>
        <li><%= link_to 'Sign Up', signup_path, class: "submit-button", id: "signup_button"%></li>
        <li><%= link_to 'Log In', login_path, class: "submit-button", id: "login_button" %></li>
    </ul>
<% else %>
	<% if !@current_user.activated? %>
				<%= link_to 'RENEW ACTIVATION LINK', new_account_activation_path(@current_user), class: "submit-button", id: "renew_activation_button" %>
	<% else %>
    	<%= link_to "USE APP", new_issue_path, class: "submit-button", id: "use_app_button"  %>
    <% end %>
<% end %>
</div>
