<h2>Hello, <%= @user.username %></h2>

<h3>A comment has been made on your issue.</h3>
<p>The admin has viewed your issue and has commented on it. Please, login to your account to view the comments.</p>
<P>Thank you for using Issue Tracker!</P>
<%= link_to "LOGIN TO YOUR ACCOUNT", login_url %>
