<h2>Hello, <%= @user.username %></h2>

<h3>Issue has been Reopened</h3>
<p>Your issue has been reopened. We are seeking an expert that fits the requirements of the issue.</p>
<P>You can log in to your account to raise any further issues. Thank you for using Issue Tracker!</P>
<%= link_to "LOGIN TO YOUR ACCOUNT", login_url %>
