<h2>Hello, <%= @user.username %></h2>

<h3>Issue is now Closed</h3>
<p>Your issue has been fully solved!</p>
<p>We are glad to have been of assistance!</p>
<P>You can log in to your account to raise any further issues. Thank you for using Issue Tracker!</P>
<%= link_to "LOGIN TO YOUR ACCOUNT", login_url %>
