<h2>Hello, <%= @user.username %></h2>

<h3>Issue is now Resolved</h3>
<p>The expert has finished working on your issue, it is now resolved.
    Please, check to confirm that it is as you desired before it is marked as closed. 
    If there is any complaint, please contact us by phone immediately!</p>
<P>You can log in to your account to raise any further issues. Thank you for using Issue Tracker!</P>
<%= link_to "LOGIN TO YOUR ACCOUNT", login_url %>
