<h2>Hello, <%= @user.username %></h2>

<h3>Issue now in Progress</h3>
<p>Your issue has been assigned to an expert and is now in progress.</p>
<P>You can log in to your account to raise any further issues. Thank you for using Issue Tracker!</P>
<%= link_to "LOGIN TO YOUR ACCOUNT", login_url %>
