<h2>Hello, admin </h2>

<h3>New Issue raised by <%= @user.username %></h3>
<p>To check and assign the issue, please log in to your account.</p>
<span class="button">
    <%= link_to "LOG IN", login_url %>
</span>
