<li>
    <span class="issue_title"><%= issue.title %></span><br/>
    <span class="priority"> <p> Priority: <%= issue.priority %> </p></span>
    <span class="timestamp">
        Posted <%= time_ago_in_words(issue.created_at) %> ago.
    </span>
    <!--<span class="button"> <%= link_to "My Button" %></span>-->
</li>
