* {
    margin: 0;

}
html, body {
    margin: 0;
    padding: 0;
    height: 100%;

}

.signup_form, .login_form, .reset_form{
    margin: auto;
    padding: 50px;
    width: 50%;
    border: 1px solid #000;
}
.submit-button {
    background-color: #4A5460;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    &:hover {
        background-color: #273241;
    }
}
#signup_button, #login_button {
    background-color: #273241;
    color: #fff;
    &:hover {
        background-color: #2199E8;
    }
}
.success {
    background: green;
    padding: 20px;
    color: black;
} 

.alert {
    background: red;
    padding: 20px;
    color: black;
}

.error_messages{
    color: red;
}

.padding-150 {
    padding: 150px;
}

.top-bar{
    li {
        list-style: none;
    }
    .top-bar-left {
        a {
            color: #fff;
        }
    }
    .top-bar-right {
        a {
            margin-top: 5px;
            &:hover {
                border-bottom: 3px solid #3ADB76;
            }
            &:focus {
                border-bottom: 3px solid red;
            }

        }
    }
    #logout {
        a{
            border: none;
            padding: 1rem 1.5rem;
            color: #fff;
        }
    }
    .label {
        padding: 1rem;
        margin-left: 10px;
    }

    #login {
        border: 1px solid #FCFCFC;
        padding: 9px 0px 9px 0px; /*top, right, bottom ,left*/
        margin-left: 10px;
        a {
            border: 1px solid #FCFCFC;
            padding: 10px 20px 10px 20px; /*top, right, bottom ,left*/
            &:hover {
                border: 1px solid black;
                background: #FCFCFC;
            }
        }
    }
}

.menu-text{
    font-size: 1.5em;
    border-bottom: 1px dotted #fff;
}
.container {
    margin-left: 50px;
    margin-right: 50px;
}


.wrapper {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -4em;

}
.footer, .push {
    height: 4em;

}
footer{
    background: #4A5460;
    text-align: center;
    border-top: 1px solid black;
    p{
        margin-top: 20px;
        margin-bottom: 0px;
        padding: 0px 20px 20px 20px;
    }
    .github-link {
        margin-left: 5px;
    }
}
