// Place all the styles related to the StaticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.home-content {
    text-align: center;
    padding-top: 160px;
    height: 590px;
    background: asset-data-url("home-bg.png") no-repeat;
    background-size: cover; 
}

.home-content h1 {
    font-family: 'Raleway', sans-serif;
    color: #000;
    font-size: 72px;
}

.home-content li {
    list-style: none;
    display: inline;
}

.home-content .button{
    margin-right: 100px;
    margin-top: 50px;
}
.home-content a {
    color: #000;
}

.home-content .button:hover {
    background: red;
}

.button a {
     color: #000;
}

#signup_label, #login_label {
     padding: 15px;
     margin: 15px;
     width: 100px;
}
